@charset "UTF-8";


/* Media impressora */
*{
    
    padding: 0;
}
html{

    font-family:'Courier New', Courier, monospace;
}
menu{
    display: none;
}
h1{
    text-align: center;
}
main{
    font-size: 1.2em;
}
article::after{
   content:'Artigo desenvolvido por Murilo G'; 
}