@charset "UTF-8";   

@media screen and  ( min-width:768px) and ( max-width:992px) /* Tela tablet */
{
    html{
        background-image:url(../imagens/back-tablet.jpg);
    }   
    img#celular{
        display: none;
    }
    img#impressora{
        display: none;
    }
    img#tablet{
        display: block;
    }
    img#tv{
        display: none;
    }
    img#pc{
        display: none;
    }
}
@media screen and (min-width:992px) and (max-width:1200px) /*Tela Desktop */
{
    html{
        background-image:url(../imagens/back-pc.jpg);
    }
    img#celular{
        display: none;
    }
    img#impressora{
        display: none;
    }
    img#tablet{
        display: none;
    }
    img#tv{
        display: none;
    }
    img#pc{
        display: block;
    }
}
@media screen and (min-width:1200px) { /*telas Grandes */
    html{
        background-image: url(../imagens/back-tv.jpg);
    }
    img#celular{
        display: none;
    }
    img#impressora{
        display: none;
    }
    img#tablet{
        display: none;
    }
    img#tv{
        display: block;
    }
    img#pc{
        display: none;
    }
}
@media print {
    h1{
        font-family:'Courier New', Courier, monospace;
        color: aqua;

    }
    img#celular{
        display: none;
    }
    img#impressora{
        display: block;
    }
    img#tablet{
        display: none;
    }
    img#tv{
        display: none;
    }
    img#pc{
        display: none;
    }    
}