@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", serif;
}

body{
    background-color: #1B1C30;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

img{
    width: 100px;
    margin-top: 65px;
}

.tela{
    text-align: center;
    margin-top: 20px;
}

h1{
    text-align: center;
    color: white;
    margin: 15px;
}

input{
    background-color: #292A38;
    border:none ;
    border-radius: 15px;
    width: 270px;
    height: 40px;
    margin-bottom: 10px;
}

p{
    color: white;
    margin-bottom:10px ;
}

a{
    text-decoration: none;
    color: lightseagreen;
    cursor: pointer;
}

::placeholder{
    padding: 10px;
    color: rgb(175, 175, 175);
}

.enviar > input{
    width: 120px;
    background-color: rgb(21, 131, 21);
    color: rgb(61, 61, 61);
}

.enviar > input:hover{
    background-color: green;
    border: 1px solid rgba(255, 255, 255, 0.493);
    color: lightgray;
    cursor: pointer;
}